# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Unity
*.meta
*.unitypackage
*.asset
*.prefab
Temp/
Obj/
Library/
ExportedObj/
Build/
Builds/
Logs/
UserSettings/

# Script Backups
*.xlsx.bak
*.xlsx.bak*
extra_args.json
event_pipeline_step_*.log

# OS
.DS_Store
Thumbs.db
